<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <!--  NAVIGATION  -->
  <body>
    <div class="flex-container">
      <h1 class="logo">
        <a href="index.html">RMDN</a>
      </h1>
      <nav>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
            <ul class="dropdown">
              <li>
                <a href="#education">Education</a>
              </li>
              <li>
                <a href="#experience">Experience</a>
              </li>
              <li>
                <a href="#skills">Skills</a>
              </li>
              <li>
                <a href="#portfolio">Portfolio</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <!--  HEADER -->
    <header class="profile" id="about">
      <figure>
        <img src="../assets/images/aldo.jpg" alt="" />
      </figure>
      <div class="caption">
        <h2>Hi, Nama Saya Rizaldo Ramadhoni</h2>
        <p>Saya biasa dipanggil Aldo, berasal dari Tulungagung, Jawa Timur. sekarang berdomisili di Jakarta Barat, <br> kesibukan saya sekarang sedang mengikuti program fullstack javascript di SALT academy</p>
        <div class="medsos">
          <a href="https://www.linkedin.com/in/rizaldo-ramadhoni-7904b8200/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://twitter.com/rizaldormdn"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.facebook.com/rizaldo.ramadhoni.1"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://github.com/rizaldormdn"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.instagram.com/rizaldormdn/?hl=id"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="resume">
          <p class="dwnld"><a href="">Download</a></p>
          <a href="#"><i class="fa-solid fa-download"></i></a>
        </div>
      </div>
    </header>
    <!-- EDUCATION -->
    <main>
    <section id="education">
      <h2 class="edu-title">Education</h2>
      <div class="edu">
        <figure>
          <img src="../assets/images/education.jpg" alt="" />
        </figure>
        <ol>
          <li>Tk Aisyiyah Kauman Tulungagung</li>
          <li>Sdn 1 Tamanan Tulungagung</li>
          <li>Smp Pgri 1 Tulungagung</li>
          <li>Sma Pgri 4 Tulungagung</li>
        </ol>
      </div>
    </section>
    <!-- EXPERIENCE -->
    <section id="experience">
      <h2>Experience</h2>
      <div class="work">
        <figure>
          <img src="../assets/images/work.jpg" alt="" />
        </figure>
        <table>
          <tr>
            <td>Admin</td>
            <td>: PT sejahtera Sentosa</td>
          </tr>
          <tr>
            <td>Purchasing</td>
            <td>: Mase Coffee lab</td>
          </tr>
          <tr>
            <td>Barista</td>
            <td>: Mase Coffee lab</td>
          </tr>
          <tr>
            <td>Barista</td>
            <td>: Kopikabana Coffee</td>
          </tr>
        </table>
      </div>
    </section>
    <!-- SKILL -->
    <section id="skills">
      <h2>Skill</h2>
      <div class="skill">
        <figure>
          <img src="../assets/images/skill.jpg" alt="">
        </figure>
        <div class="html">
          <div>
            <p class="title">Html</p>
          </div>
          <div class="html-2">
            <div class="html-3">
              <p class="html-4">80%</p>
            </div>
          </div>
        <div class="html">
          <div>
            <p class="title">Css</p>
          </div>
          <div class="html-2">
            <div class="css-3">
              <p class="html-4">70%</p>
            </div>
          </div>
        <div class="html">
          <div>
            <p class="title">Bootstrap</p>
          </div>
          <div class="html-2">
            <div class="botstrap-3">
              <p class="html-4">50%</p>
            </div>
          </div>
        <div class="html">
          <div>
            <p class="title">Javascript</p>
          </div>
          <div class="html-2">
            <div class="javascript-3">
              <p class="html-4">35%</p>
            </div>
          </div>
        <div class="html">
          <div>
            <p class="title">Golang</p>
          </div>
          <div class="html-2">
            <div class="golang-3">
              <p class="html-4">20%</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- PORTFOLIO -->
    <section class="portfolio" id="portfolio">
      <h2>Portfolio</h2>
      <div class="container-card">
        <div class="card">
          <div>
            <img src="../assets/images/portfolio.png" alt="">
          </div>
          <div>
            <h3>Personal Web</h3>
            <p>durasi: 7 day</p>
            <p>Website pertama saya</p>
            <div class="button">
              <button class="btn1">Detail</button>
              <button class="btn2">Delete</button>
            </div>
        </div>
        </div>
        <div class="card">
          <div>
            <img src="../assets/images/portfolio.png" alt="">
          </div>
          <div>
            <h3>Personal Web</h3>
            <p>durasi: 7 day</p>
            <p>Website pertama saya</p>
            <div class="button">
              <button class="btn1">Detail</button>
              <button class="btn2">Delete</button>
            </div>
        </div>
        </div>
        <div class="card">
          <div>
            <img src="../assets/images/portfolio.png" alt="">
          </div>
          <div>
            <h3>Personal Web</h3>
            <p>durasi: 7 day</p>
            <p>Website pertama saya</p>
            <div class="button">
              <button class="btn1">Detail</button>
              <button class="btn2">Delete</button>
            </div>
        </div>
        </div>
        <div class="card">
          <div>
            <img src="../assets/images/portfolio.png" alt="">
          </div>
          <div>
            <h3>Personal Web</h3>
            <p>durasi: 7 day</p>
            <p>Website pertama saya</p>
            <div class="button">
              <button class="btn1">Detail</button>
              <button class="btn2">Delete</button>
            </div>
        </div>
        </div>
        <div class="card">
          <div>
            <img src="../assets/images/portfolio.png" alt="">
          </div>
          <div>
            <h3>Personal Web</h3>
            <p>durasi: 7 day</p>
            <p>Website pertama saya</p>
            <div class="button">
              <button class="btn1">Detail</button>
              <button class="btn2">Delete</button>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- CONTACT -->
    <section id="contact">
      <h2>Contact</h2>
      <div class="informasi">
        <div class="info">
          <h3>Just say hi.</h3>
          <p>
            I'm always open to discuss your project and talk about new things.
          </p>
          <div class="info2">
            <div>
              <p>Email</p>
              <p>rizaldormdn@gmail.com</p>
            </div>
            <div>
              <p>Follow me</p>
                <a href="https://www.linkedin.com/in/rizaldo-ramadhoni-7904b8200/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://twitter.com/rizaldormdn"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com/rizaldo.ramadhoni.1"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://github.com/rizaldormdn"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/rizaldormdn/?hl=id"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="container-form">
          <form action="">
            <input type="text" placeholder="Name" id="input-nama" />
            <input type="number" placeholder="Phone" id="input-nomor" />
            <input type="email" placeholder="Email" id="input-email" />
            <textarea
              name=""
              id="input-pesan"
              cols="50"
              rows="2"
              placeholder="Description"
            ></textarea>
            <div class="submit">
              <button type="button" onclick="submitData()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
    <!-- FOOTER -->
    <footer>
      <p>&copy 2022 Rizaldo Ramadhoni</p>
    </footer>
    <script src="../javascript/index.js"></script>
  </body>
</html>
